.text-yel {
    color: #fbff28;
}
.topimage-crm {
    margin-bottom: 32px;
}
.crm-title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 58.5px;
}
.overview-img {
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-option {
    margin-top: 10px;
    margin-bottom: 10px;
}
.d-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid #70e87c;
    margin-bottom: 10px;
}
#Overview p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-align: justify;
}

#Typography p,
#Colors p {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "General Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 32px */
}
#Typography .typ,
#Colors .typ {
    margin-top: -80px;
}
