.heading-section {
    margin-top: 114px;
    margin-bottom: 120px;
}

/* my work  */
.work-container {
    display: flex;
    column-gap: 70px;
    row-gap: 68px;
}
.work-container .single-work a {
    text-decoration: none;
}
.work-container .single-work {
    height: 460px;
    width: 445px;
    border: 1px solid #fff;
    border-radius: 16px 17px 12px 12px;
    overflow: hidden;
    background-color: var(--maincolor) !important;
}
.single-work .content-img {
    background-size: cover;
    background-position: center;
    height: 280px;
}
.content-img img {
    padding-top: 102px;
    padding-bottom: 102px;
    padding-left: 48.86px;
    padding-right: 78.17px;
}
.single-work .content-body {
    margin-top: 23px;
    padding-left: 40px;
    padding-right: 0px;
}
.content-body .content-title {
    color: #fff;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.005px;
}
.content-body .b-desg {
    color: #bababa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.523%; /* 22.753px */
}
.content-body .b-desg img {
    margin-right: 10px;
    border-radius: 5px;
    width: 26px;
    height: 26px;
}
.content-body .b-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.523%; /* 26.004px */
}
/* my work end  */

/* protfolio */
.img-icon {
    width: 52px;
    height: 52px;
}
.bprotfolio {
    margin-top: 70px;
}
.bprotfolio img {
    margin-bottom: 17px;
}
.bprotfolio .p-title a {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 45.5px;
    text-decoration: none;
}
.p-title a:hover,
.p-title:hover .svg-container svg path {
    color: var(--darkmaincolor); /* Change the color to your desired color */
    fill: var(--darkmaincolor); /* Change the fill color of the SVG to match */
}
.bprotfolio-gallary {
    width: 954px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bprotfolio-gallary .single-gallery {
    width: 304px;
    height: 237px;
    overflow: hidden;
}
.bprotfolio-gallary .single-gallery img {
    border-radius: 10px;
}

/* dribble portfolio */
.dribble-portfolio {
    width: 954px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dribble-portfolio .single-portfolio {
    width: 302px;
    height: 226px;
}
.dribble-portfolio .single-portfolio img {
    border-radius: 10px;
}
.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid var(--dashcolor);
    background-color: var(--darkmaincolor);
}

@media (max-width: 600px) {
    .carousel-control-prev {
        left: -5px;
    }
    .carousel-control-next {
        right: -1px;
    }
    .carousel {
        position: relative;
        padding-bottom: 60px;
    }
    .work-container {
        width: 100%;
    }
    .work-container .single-work {
        width: 100%;
    }
    main .heading-title {
        font-size: 20px;
        line-height: 1;
    }
    .heading-section {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .heading-section h2,
    .heading-section .second-title {
        font-size: 20px;
        line-height: 1.5;
    }

    .bprotfolio-gallary {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .dribble-portfolio {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .carousel-item .single-portfolio {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0%;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 15%; */
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: 0.5;
        transition: opacity 0.15s ease;
        margin-bottom: 55px;
    }
    .carousel-control-prev {
        left: -105px;
    }
    .carousel-control-next {
        right: -105px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        /* background-color: var(--darkmaincolor); */
    }
    .carousel {
        position: relative;
        padding-bottom: 60px;
    }
}
